# Local
_tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and databases
*.log
*.sqlite3
*.db

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# IDE files
.vscode/
.idea/
*.iml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# PyCharm files
*.pyc
__pycache__/
*.pyo

